<app-base-page></app-base-page>

<div class="container">
  <div class="jumbotron">
    <!-- <h1 class="display-5">ABOUT ME</h1> -->
    <h2>SHEFALI SHARMA</h2>
    <img
      src="../../../assets/images/Shefali.jpg"
      alt="My Photo"
      style="width:200px;height:300px;"
    />
    <p class="lead">
      I am a Software Enginerring Technology Student, persuing my post-graduate
      diploma from Centennial College.I have worked on a number of projects as a
      part of my academics during my studies at Centennial College using C#,
      HTML, ASP.net, java , Android. For one of my projects I created an Android
      based Mobile Application for Online Shopping and for the other one I
      developed an Android and web Based Application using C# and java.
    </p>

    <p></p>
    <p class="lead">
      <a href="../../../assets/Resume.pdf"> Click to view my resume</a>
    </p>
  </div>
</div>
