<footer class="d-flex justify-content-center mt-auto">
  <div>
    <div class="align-left small">
      <h6> &copy; Group 10. Survey Panda 2019.</h6>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT SECTION -->
<script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
<script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/lib/bootstrap/js/transition.js"></script>
<script src="/Scripts/lib/bootstrap/js/collapse.js"></script>
<script src="/Scripts/app.js"></script>
<script src="/Scripts/moment.js"></script>
<script src="/Scripts/en-ca.js"></script>
<script src="/Scripts/bootstrap-datetimepicker.js"></script>
<script src="/Scripts/Chart.min.js"></script>

</body>
</html>