<footer class="d-flex justify-content-center mt-auto">
  <div>
    <div class="align-left small">
      <h6> &copy; Group 10. Survey Panda 2019.</h6>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT SECTION -->
<%# <script src="../../assets/scripts/jquery/dist/jquery.min.js"></script> %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<%# <script src="../../assets/scripts/bootstrap/dist/js/bootstrap.min.js"></script> %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../assets/scripts/bootstrap/js/transition.js"></script>
<script src="../../assets/scripts/bootstrap/js/collapse.js"></script>
<script src="../../assets/scripts/app.js"></script>
<script src="../../assets/scripts/moment.js"></script>
<script src="../../assets/scripts/en-ca.js"></script>
<script src="../../assets/scripts/bootstrap-datetimepicker.js"></script>
<script src="../../assets/scripts/Chart.min.js"></script>

</body>
</html>