/* You can add global styles to this file, and also import other style files */

/*
FIle name: style.css
Name : Shefali Sharma
Id:  300973745
Date :April 03, 2019*/
/* body {
  /* background-color: rgb(160, 247, 152); */
  /* background-image: url(./assets/images/bamboo.jpg); */

/* } */

#navbar {
  overflow: hidden;
  background: #164201;
}

#navbar a {
  float: left;
  display: block;
  color: #85eb55;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
  padding-top: 60px;
}

/* heading alignment */

h1 {
  color: rgb(14, 10, 51);
  text-align: center;
}

/* Heading alignmtn for home page */

h3 {
  color: brown;
  text-align: center;
}

/* to format container */

.container {
  border-radius: 0px;
  background-color: #f2f2f2;
  padding: 0px;

}

/* to format panel */

.panel-body {
  border-radius: 5px;
  background-color: rgb(189, 223, 228);
  padding: 20px;
  width: 30%
}

/* footer formatting */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
