<main class="container">
  <mz-card class="darken-1 black-text" [hoverable]="true">

    <mz-card-image>
      <img src="../../../assets/images/loginim.jpg" style="height: 400px;" />
    </mz-card-image>
    <mz-card-image-title>
      Please Login
    </mz-card-image-title>
    <mz-card-content>
      <div class="row">
        <form autocomplete="off" (submit)="onLoginSubmit()" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <!-- <fieldset class="form-group"> -->
              <i class="material-icons prefix">account_circle</i>
              <input type="text" class="form-control" [(ngModel)]="user.username" name="username" id="username"
                autocomplete="off" class="validate">
              <label for="username">User Name</label>
              <!-- </fieldset> -->
            </div>

            <div class="input-field col s6">
              <!-- <fieldset class="form-group"> -->
              <i class="material-icons prefix">lock</i>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password" id="password"
                required autocomplete="off" class="validate">
              <label for="password">Password</label>

              <!-- </fieldset> -->
            </div>


          </div>
          or
          <a routerLink="/register">Register Here</a>
        </form>
      </div>


      <!-- <label for="username">Username:</label>
                <input type="text" class="form-control"
                [(ngModel)]="user.username"
                name="username" placeholder="Enter Username"
                id="username" autocomplete="off"> -->

      <!-- <fieldset class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control"
                [(ngModel)]="user.password"
                name="password" placeholder="Enter Password"
                id="password" required autocomplete="off">
                or
                <a routerLink="/register">Register Here</a>
            </fieldset> -->


    </mz-card-content>
    <mz-card-action>
      <form autocomplete="off" (submit)="onLoginSubmit()">
        <fieldset class="form-group">
          <button mz-button>
            Login
          </button>
          <!-- <input type="submit" class="btn btn-success" value="Login"> -->
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a routerLink="/home">
            <button mz-button class="red">
              Cancel
            </button>
            <!--  <input type="button" class="btn btn-warning" value="Cancel"> -->
          </a>
        </fieldset>
      </form>
    </mz-card-action>
  </mz-card>
</main>
