<app-base-page></app-base-page>
<div class="container">
      <mz-card
  class="darken-1 black-text"  
  [hoverable]="true">
  <mz-card-image>
    <img src="../../../assets/images/reg.gif" />    
  </mz-card-image>  
  <mz-card-action class="center-align">
   Don't have an account? Click <a routerLink="/register"> here</a>to register..        
  </mz-card-action>
</mz-card>
</div>

<div class= "container">
 <mz-card
  class="darken-1 black-text"  
  [hoverable]="true">
  <mz-card-image>
       <img src="../../../assets/images/crtsur.gif" />
  </mz-card-image>  
  <mz-card-action class="center-align">
   Click <a routerLink="/"> here</a>to create a survey..        
  </mz-card-action>
</mz-card>
</div>