
<div class="container">
  <div class="jumbotron">
      <app-base-page></app-base-page>
    <h3>"Welcome every opportunity as its for you only"</h3>
    <br />
    <br />
    <p>
      My website will help you to know about me.My wesite contains some of my
      projects works that I have done during my academics.
    </p>
    <p>You can also take a tour to some of my projects.</p>
    <p>
      Just click on the provided links or buttons to navigate through the pages
      to know more about me....
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button"
        >Click to know about me</a
      >
    </p>
  </div>
</div>
