<% include ../partials/header.ejs %>
<div style=" size:cover; background-size:cover;background-image:url('../../../assets/images/bg2.jpg');
  background-repeat:no-repeat; width:100%; height:400px; background-attachment:fixed;">
</div>

<main class="container">
  <div class="card hoverable">
    <form class="form" method="post">
      <div class="card-content center-align">
        <h1> <i class="material-icons medium vertical-align-middle padding-bottom-3">loupe</i> Start Here
        </h1>
      </div>
      <div class="card-content">
        <div>
          <div class="form-group">
            <div class="container">
              <div class="input-field col m6">
                <i class="material-icons prefix">insert_chart</i>
                <input id="NameTextField" name="topic" type="text" class="form-control" required>
                <label for="NameTextField">Survey Topic</label>
              </div>

              <div class="input-field col m6">
                <i class="material-icons prefix">apps</i>
                <select name="type">
                  <option value="" disabled selected>Choose Survey Template</option>
                  <option value="3">Short Answer</option>
                  <option value="2">Multiple Choice</option>
                </select>
              </div>

              <div class="input-field col m6">
                <i class="material-icons prefix">vertical_split</i>
                <input id="total" type="text" class="form-control" name="numberOfQuestion" required>
                <label for="total">Total Questions</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group ">
            <div class="col m6 right-align">
              <button class="btn waves-effect waves-light green btn-small" type="submit" value="Log In">Next</button>
            </div>
            <div class="col m2 ">
              <a href="/" class="waves-effect waves-light btn red btn-small">Cancel</a>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>
  </div>
</main>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var instances = M.AutoInit();
  });
</script>

<% include ../partials/footer.ejs %>