

<div class="container">
  <div class="jumbotron">
    <!-- <h1 class="display-5">My Projects</h1> -->
    <app-base-page></app-base-page>
    <p class="lead"></p>
    <p>
      An android application named MOBILE STORE which is basically an online
      shopping application for mobile phones and can be used easily to buy
      mobile phones in a most easy and convenient way. This project was
      completed as a group project.
    </p>
    <p>
      <img
        src="../../../assets/images/mobile1.png"
        style="width:200px;height:400px;"
      />
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;
      <img
        src="../../../assets/images/Mobile2.png"
        style="width:200px;height:400px;"
      />
    </p>

    <p class="lead"></p>
    <p>
      An android application named SCHEDULING APPLICATION , allowing the
      employees of a specific company using the application to check their
      schedule to work, paystubs, hour worked , clock-in and clock-out in a more
      convenient way .It was finished as a group assignment.
    </p>
    <p>
      <img
        src="../../../assets/images/security2.JPG"
        style="width:200px;height:400px;"
      />
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;
      <img
        src="../../../assets/images/Security4.png"
        style="width:600px;height:400px;"
      />
    </p>

    <p class="lead"></p>
    <p>
      A web based application to help users calculate the BMI and search the
      food accorign to their needs.Food receipes provided to mak eit easier to
      follow the diet plan as providde by the website algorithm as per the
      prefernces choosen by the user. This project was completed as a group
      project.
    </p>
    <p>
      <img
        src="../../../assets/images/melo1.png"
        style="width:400px;height:400px;"
      />
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;
      <img
        src="../../../assets/images/melo2.png"
        style="width:400px;height:400px;"
      />
    </p>
  </div>
</div>
