<app-base-page></app-base-page>
<div class="container">
  <div class="row">
    <div class="col m-6 offset-m0">
      <mz-collapsible [mode]="'expandable'" [popout]="true">
        <mz-collapsible-item [active]="true">
          <mz-collapsible-item-header>
            Create Multiple Choice Survey Questions
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            place button here
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>

      <mz-collapsible [mode]="'expandable'" [popout]="true">
        <mz-collapsible-item [active]="false">
          <mz-collapsible-item-header>
            Create Yes/No Survey Questions
          </mz-collapsible-item-header>
          <mz-collapsible-item-body>
            place button here
          </mz-collapsible-item-body>
        </mz-collapsible-item>
      </mz-collapsible>
    </div>
  </div>
</div>
