<app-base-page></app-base-page>

<div class="container">
  <div class="jumbotron">
    <table>
      <tr>
        <td>
          <ul style="list-style-type:disc;">
            <li>Android application development</li>
            <li>Web designing</li>
            <li>Web development</li>
            <li>Game development</li>
            <li>IT system instalation</li>
          </ul>
        </td>
        <td>
          <img
            src="../../../assets/images/android.png"
            style="width:100px;height:100px;"
          />
        </td>
        <td>
          <img
            src="../../../assets/images/game.png"
            style="width:100px;height:100px;"
          />
        </td>
        <td>
          <img
            src="../../../assets/images/it.png"
            style="width:150px;height:100px;"
          />
        </td>
        <td>
          <img
            src="../../../assets/images/web.png"
            style="width:150px;height:100px;"
          />
        </td>
      </tr>
    </table>
  </div>
</div>
